.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: contain;
  }

  .swiper-slide img {
    display: block;
    width: 404px;
    height: 582px;
    object-fit: cover;
  }

  .swiper-slide {
    width: 22.333333%;
  }